doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='auto-complete.css')
    include _ga.html
    description(content="Поиск лекарств Екатеринбург, самые дешевые цены на лекарства, купить лекарства в Екатеринбурге")
  body
    block content
    footer
      p Сделано с использованием данных с сайта 
        a(href="http://medgorodok.ru" target="_blank") medgorodok
      p По вопросам и предложениям 
        a(href="mailto:aifogroup@yandex.ru") aifogroup@yandex.ru