doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='auto-complete.css')
    description(content="Поиск лекарств Екатеринбург, самые дешевые цены на лекарства, купить лекарства в Екатеринбурге")
  body
    block content
    footer
      p Сделано с использованием данных с сайта 
        a(href="http://medgorodok.ru") medgorodok
      p По вопросам и предложениям 
        a(href="mailto:kuzzaka@gmail.com") kuzzaka@gmail.com